<h1>Visits</h1>

<ul>
	<% @visits.each do |visit| %>
	<li>
		<% if visit.location_id.present? %>
		 Visit <%= visit.id %> -
			Location ID <%= visit.location_id %> -
		<% end %>
		Username <%= visit.user_name %>
		<button>
		<%= link_to "Go to visit", location_visit_path(:id => visit.id)%>
	</button>

		</li>
		<% end %>
	</ul>

<button>
<%= link_to "Back to Locations", locations_path %>
</button>


