<h1>Create a visit for location</h1>
<%= form_for [@location, @visit] do |f| %>
<%= f.label :user_name %>
<%= f.text_field :user_name %> <br/>
<%= f.datetime_select (:from_date) %> <br/>
<%= f.datetime_select (:to_date) %> <br/>
<%= f.submit "Save" %>
<% end %>