<h1>New User!</h1>

<%= form_for @user do |f| %>
<%= f.label "First Name" %>
<%= f.text_field :user_firstname %> <br/>
<%= f.label "Last Name" %>
<%= f.text_field :user_firstname %> <br/>
<%= f.submit "Save" %>
<% end %>
