<%= form_for(:user, as: :user, url: session_path(:user)) do |f| %>
  <div><%= f.label :email %> <%= f.email_field :email, autofocus: true %>  <%= f.label :password %> <%= f.password_field :password, autocomplete: "off" %> <%= f.submit "Sign in" %> <%= link_to "Sign up", new_registration_path(:user) %><br /></div>
<% end %>
