<!-- <h1> This is a test!</h1>

#I want to send it to the Object @martin
<%= form_for @martin do |f| %>

<p>
	<%= f.label :title  %><br>
	<%= f.text_field :title  %>
</p>

<p>
	<%= f.label :text  %><br>
	<%= f.text_field :text  %>
</p>

<p>
	<%= f.submit %>	
</p>
<% end %> -->