<h1>Locations</h1>

<ul>
	<% @locations.each do |location| %>
	<li>
		<% if location.name.present? %>
			<%= location.name %> - 
		<% end %>
		<%= location.city %>
		<button>
			<%= link_to "See Visits", location_visits_path(location.id) %>
		</button>
		<button>
	<%= link_to "Check-out Location", location_path(location.id)%>
</button>

		</li>
		<% end %>
	</ul>
</ul>



<%= form_for Search.new do |f| %>
<%= f.label "Find..." %>
<%= f.text_field :keyword%>
<br/>
<%= f.submit "Save"%>
<% end %>
 




